{% extends 'base.html' %}
{% load static %}
{% block meta %}
<meta name="description" content="A mock travel website, hosting trips to places that the author has been" />
<meta name="author" content="Preston Fitzgerald" />
{% if ti.country == "United States" %}
    <title>Trip to {{ti.city}}, {{ti.state}} | Trip Me Travel</title>   
{% else %}
    <title>Trip to {{ti.city}}, {{ti.country}} | Trip Me Travel</title>
{% endif %}
{% endblock %}

{% block nav %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'travelPages:index' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'travelPages:trips' %}">Vacations</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
    </ul>
</div>
{% endblock %}

{% block Masthead %}
<header class="masthead" style="background-image: url('{% static "img/" %}{{ti.picture}}')" alt="{{ti.alt}}">
    <div class="container">
        <div class="masthead-subheading" style="text-shadow: 2px 2px black">Get ready to visit</div>
        <div class="masthead-heading text-uppercase" style="text-shadow: 2px 2px black">
            {% if ti.country == "United States" %}
                {{ti.city}}, {{ti.state}}
            {% else %}
                {{ti.city}}, {{ti.country}}
            {% endif %}
        </div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#portfolio">Take me to {{ti.city}}</a>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            {% if ti.country == "United States" %}
                <h2 class="section-heading text-uppercase">{{ti.city}}, {{ti.state}}</h2>
            {% else %}
                <h2 class="section-heading text-uppercase">{{ti.city}}, {{ti.country}}</h2>
            {% endif %}
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            {{ti.description}}
            <br><br>
            <table class="table-center">
                <tr>
                    <td><b>City</b></td>
                    <td>{{ti.city}}</td>
                </tr>
                {% if ti.state != NULL %}
                <tr>
                    <td><b>State/province</b></td>
                    <td>{{ti.state}}</td>
                </tr>
                {% endif %}
                <tr>
                    <td><b>Country</b></td>
                    <td>{{ti.country}}</td>
                </tr>
                <tr>
                    <td><b>Cost</b></td>
                    <td>${{ti.cost}}</td>
                </tr>
                <tr>
                    <td><b>Number of days</b></td>
                    <td>{{ti.length}}</td>
                </tr>
            </table>
        </div>
    </div>
</section>
{% endblock %}