{% extends 'base.html' %}
{% load static %}
{% block meta %}
<meta name="description" content="A mock travel website, hosting trips to places that the author has been" />
<meta name="author" content="Preston Fitzgerald" />
<title>Available Trips | Trip Me Travel</title>
{% endblock %}
{% block nav %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'travelPages:index' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#portfolio">Vacations</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
    </ul>
</div>
{% endblock %}

{% block Masthead %}
    <a class="btn btn-primary btn-xl text-uppercase" href="#portfolio">Show me the World</a>
{% endblock %}

{% block content %}
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Vacations</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row">
            {% for oTrips in ti %}
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal{{oTrips.id}}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'img/' %}{{oTrips.picture}}" alt="{{oTrips.alt}}" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">{{oTrips.city}}</div>
                        {% if oTrips.country == "United States" %}
                        <div class="portfolio-caption-subheading text-muted">{{oTrips.state}}</div>
                        {% else %}
                        <div class="portfolio-caption-subheading text-muted">{{oTrips.country}}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Portfolio Modals-->
{% for oTrips in ti %}

<div class="portfolio-modal modal fade" id="portfolioModal{{oTrips.id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'img/close-icon.svg' %}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">{{oTrips.city}}</h2>
                            <p class="item-intro text-muted">{% if oTrips.state == None %}
                                {{oTrips.country}}
                                {% else %}
                                {{oTrips.state}}, {{oTrips.country}}
                                {% endif %}</p>
                            <img class="img-fluid d-block mx-auto" src="{% static 'img/' %}{{oTrips.picture}}" alt="{{oTrips.alt}}" />
                            <p>{{oTrips.description}}</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Location:</strong>
                                    {% if oTrips.state == None %}
                                    {{oTrips.city}}
                                    {% else %}
                                    {{oTrips.city}}, {{oTrips.state}}
                                    {% endif %}
                                </li>
                                <li>
                                    <strong>Country:</strong>
                                    {{oTrips.country}}
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Trip
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}